.header-logo-background{
    background-color:#4EA0FF;
    
}

.main-title{
    font-size: 2.4rem;
}

#booleaners{
    color: #4EA0FF;
}
    
.grey-titles{
    color: grey;
    font-size: 1rem;
}

.images-of-tim{
    padding-top: 20px;
}