header{
    background-color:#4EA0FF;
    background-image:url(../img/pattern.png) ;
    height: 150px;
    background-repeat: repeat-x;
    background-position: left top;
    text-align: left;
    
}
.main-logo{
    
    height: 200px;
    width: 242px;
    
}
.main-title{
    font-size: 2.4rem;
}

#booleaners{
    color: #4EA0FF;
}
    
.grey-titles{
    color: grey;
    font-size: 1rem;
}

.images-of-tim{
    padding-top: 20px;
    background-size: cover;
}

.lorem-bold{
    font-weight: 500;
    font-size: 1.1rem;
}
.highlighted-text{
    background-color: yellow;
}

.unorderedlist{
    margin-left: -28px;
}

#tr_head {
    background-color: rgb(13, 85, 168);
}

.column_1, .column_2 {
    width: 23%;
    height: 30px;
}

.column_1, .column_2, .column_3 {
    text-align: left;
}

.colored_row {
    background-color: rgb(134, 227, 255);
}
