
body{
    background-image:url(../img/pattern-background.jpg);
}
header{
    background-color:#4EA0FF;
    background-image:url(../img/pattern.png) ;
    height: 150px;
    background-repeat: repeat-x;
    background-position: left top;
    text-align: left;
    
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}



.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
/* CREATION SEARCH BAR/TEST */



.main-logo{
    
    height: 200px;
    width: 242px;
    
}
.main-title{
    font-size: 2.7rem;
    text-align: center;
    color: white;
}

#booleaners{
    color: #e100ff;
    
}
    
.grey-titles{
    color: rgb(251, 251, 251);
    font-size: 1rem;
    
    
}

.images-of-tim{
    padding-top: 20px;
    background-size:auto;
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
}


.picture-infos{
    color: white;
}

.lorem-bold{
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    color: white;
}
.highlighted-text{
    background-color: rgb(88, 90, 189);
    color: white;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.unorderedlist{
    margin-left: -28px;
    color: #ddd;
    background-color: #35393c;
    text-decoration:solid
}

#tr_head {
    background-color: rgb(13, 85, 168);
}

.column_1, .column_2 {
    width: 23%;
    height: 30px;
}

.column_1, .column_2, .column_3 {
    text-align: left;
}

.colored_row-in-white{
    background-color: #ddd;
}

.colored_row {
    background-color: rgb(134, 227, 255);
}

#paragraph-u-table{
    color: white;
}

#interesting-links{
    color: rgb(255, 0, 230);
    font-size: 1.3rem;
    background-color: #35393c;
    
}

#monitor-pink{
    background-image: url(../img/monitor.jpg);
    height: 207px;
    width: 311px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 2rem;
    color: white;
     
}

#graph{
    background-image: url(../img/graph.jpg);
    height: 207px;
    width: 311px;
    margin-bottom: 10px;
    font-size: 2rem;
    color: white;
}

